name: Terraform CI

on:
  pull_request:
    branches: [ main ]

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: Snowflake-Labs/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: terraform/envs/staging

      - name: Terraform Plan
        run: terraform plan
        working-directory: terraform/envs/staging
